<div class="container">
  <mat-toolbar>
    <span>Usuarios</span>
    <div class="example-spacer"></div>
    <!-- con el '/nuevo' es como si le estamos agregando el id que le pasamos en las rutas -->
    <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario/nuevo">Agregar</button>
  </mat-toolbar>

  <!-- si no hay usuarios no se muestra la tabla -->
  <div *ngIf="listUsuarios.length > 0">
    <!-- Buscador -->
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <!-- usamos keyup para el evento de levantar la tecla
      $event es donde va a venir el keyup la tecla que tu presiones vene al $event, y el #input hace referencia al la etiqueta input. El applyFilter es un evento -->
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
      
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <!-- element recorre todo los elementos 'ELEMENT_DATA: PeriodicElement[]' que esta en el .ts -->
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
        </ng-container>
        
        <!-- Acciones -->
        <ng-container matColumnDef="acciones" class="alineacion">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element; let i = index" class="alineacion">
            <a class="icono-1 pointer" matTooltip="Ver Usuario"
            (click)="verUsuario(element.usuario)">
              <mat-icon>search</mat-icon>
            </a>
            <a class="icono-2 pointer" matTooltip="Editar Usuario"
            (click)="modificarUsuario(element.usuario)">
            <mat-icon>edit</mat-icon>
            </a>
            <a class="icono-3 pointer" matTooltip="Eliminar Usuario" (click)="eliminarUsuario(element.usuario)">
            <mat-icon>delete</mat-icon>
            </a>          
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    
      <!-- Paginador -->
      <mat-paginator 
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page">
      </mat-paginator>

    </div>
  </div>

  <h2 *ngIf="listUsuarios.length === 0">No hay usuarios para mostrar</h2>
</div>