<mat-toolbar color="primary">
  <span>App Users</span>

  <!-- esta etiqueta trae a la derecha los botones -->
  <span class="example-spacer"></span>

  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with hearth icon"
  >
   <mat-icon>favorite</mat-icon>
  </button> -->

  <!-- boton para nombre -->
  <span class="example-spacer"></span>

  <!-- ingresamos a la clave redirect del json con item.redirect -->
  <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{ item.nombre }}</button>

  <span class="example-spacer"></span>

  <span class="example-spacer"></span>

  <!-- logout es una ruta que no existe y al no existir nos
  redirecciona directamente al login -->
  <button mat-icon-button routerLink="/logout">
    <mat-icon>logout</mat-icon>
  </button>

  <!-- esta etiqueta lo trae a la izquierda -->
  <!-- <span class="example-spacer"></span> -->
</mat-toolbar>